@use '../util' as *;

.card {
   width: 87.2vw;
   max-width: rem(450);
   background-color: $very-pale-blue;
   border-radius: rem(20);
   box-shadow: 0 rem(30) rem(20) rgba($dark-blue, .1);
   overflow: hidden;
   margin: rem($fs-attr * 4) 0;

   text-align: center;

   .hero {
      width: 100%;
      height: 42.6vw;
      min-height: rem(160);
      max-height: rem(220);
      background-image: url('../../images/illustration-hero.svg');
      background-size: cover;
      background-position: center;
   }

   .container {
      padding: 11.1% calc(19.5% - 39.75px);      
   }

   .intro {
      @include inner-container;

      h1 {
         font-size: rem(22);
         @include title-style;
         margin-bottom: rem(20);
      }
      p {
         font-size: rem(15);
         line-height: 1.6rem;
      }

      @include mq {
         h1 {
            font-size: rem(28);
         }
         p {
            font-size: rem(16);
            line-height: 1.7;
         }
      }
   }

   .plan {
      display: flex;
      align-items: center;
      @include inner-container($ypad: 14.34%);

      font-size: rem(14);

      @include mq {
         padding: rem(44) rem(24) rem(56);
         font-size: rem(16);
      }

      img {
         width: rem(48);
         margin-right: rem(20);
      }
      &-title {
         @include title-style;
         margin-bottom: calc(17.4% - 6px);
      }
      &-change {
         font-size: .9285em;
         font-weight: $fw-bold;
         color: $bright-blue;
         margin-left: auto;
         text-decoration: underline;

         &:hover {
            color: rgba($bright-blue, .7);
            text-decoration: none;
         }
      }
   }

   .payment {
      font-size: rem(15);
      font-weight: $fw-bold;

      &-button {
         display: block;
         width: 100%;
         height: rem(50);
         line-height: rem(50);
         background-color: $bright-blue;
         border-radius: rem(10);
         box-shadow: 0 rem(20) rem(10) rgba($bright-blue, .12);
         margin-bottom: calc(13.4% - 13.38px);
         color: $very-pale-blue;

         &:hover {
            background-color: rgba($bright-blue, .7);
         }
      }
      &-cancel {
         color: $desaturated-blue;

         &:hover {
            color: $dark-blue;
         }
      }
   }
}